form{
    color: white;
    max-width: 100%;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 2em;
}
input[placeholder], textarea[placeholder]{
    color:$input-color-placeholder;
    text-align: center;
}
input {
    max-width: 100%;
    margin-bottom: 1em;
}
input, textarea, button{
    border: none;
    border-bottom: 1px solid $input-border;
    padding: 1em;
    width: 100%;
    display: block;
}
button{
    background-color: $realpink;
}

.alert{
    border: 1px solid black;
    font-size: 2em;
    font-weight: 600;
    border-radius: 5px;
    padding: 1em;
    color: white;
    width: 50%;
    margin: auto;
}

.alert-flash {
    background-color: $brand-success;
}

.alert-warning {
    background-color: orangered;
}

.alert-flash-danger{
    background-color: red;
}

.is-danger{
    color:red;
    font-size: 2em;
}

.modal{
    position: absolute;
    padding: 3em;
    max-width: 100%;
    background-color: rgba(255,0,255,0.5);
    top: 30vh;
    right: 43vw;
    z-index: 1;
}

.modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(10, 10, 10, 0.86);
    z-index: -1;
}

.modal-close {
    position: relative;
    left: 6em;
    font-size: 2em;
    font-weight: 600;
    color: white;
}
.login-box-msg, label{
    color: white;
    font-weight: 600;
}
.auth-links {
    a{
        color: white;
        font-weight: 600;
    }
}
/*=========Login modal form===========================*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .modal{
        right: 26vw;
    }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape){
    .modal{
        right: 30vw;
    }
}

@media only screen
and (min-device-width : 300px)
and (max-device-width : 360px) {
    .modal{
        right: 0;
    }
}

@media only screen
and (min-device-width : 360px)
and (max-device-width : 640px) {
    .modal{
        right: 14px;
    }
}

@media only screen
and (min-device-width : 360px)
and (max-device-width : 767px)
and (orientation: landscape) {
    .modal {
        right: 20vw;
    }
}