.form {
    width: 40%;
    margin: auto;
}

form{
    color: white;
    max-width: 100%;
    margin-top: 3em;
    margin-bottom: 2em;
}
input[placeholder], textarea[placeholder]{
    color:$input-color-placeholder;
    text-align: center;
}
input {
    max-width: 100%;
    margin-bottom: 1em;
}
input, textarea, button{
    border: none;
    border-bottom: 1px solid $input-border;
    padding: 1em;
    width: 100%;
    display: block;
}
button{
    background-color: $realpink;
}

.alert{
    border: 1px solid black;
    font-size: 2em;
    font-weight: 600;
    border-radius: 5px;
    padding: 1em;
    color: white;
    width: 50%;
    margin: auto;
}

.alert-flash {
    background-color: $brand-success;
}

.alert-warning {
    background-color: orangered;
}

.alert-flash-danger{
    background-color: red;
}

.is-danger{
    color:red;
    font-size: 2em;
}