@media only screen
and (min-width : 1025px)
and (max-width : 1600px) {
    .offer-and-pricing{
        .left-box{
            h1{
                font-size: 2em;
            }
            p{
                font-size: 1em;
            }
            .promo{
                font-size: 2em;
            }
        }
    }
    .thegirl ul li{
        p{
            font-size: 1em;
            line-height: 1;
        }
    }
}

@media only screen
and (min-width : 1150px)
and (max-width : 1600px) {
    .presentation{
        .cards{
            .card-title{
                h2{
                    font-size:1.5em;
                }
            }
        }
    }
}