@media only screen
and (min-device-width : 300px)
and (max-device-width : 768px) {
    body {
        line-height: 1;
        h1{
            font-size: 0.8em;
        }
    section{
        h1{
            font-size: 2em;
        span{
                font-size: 1em;
            }
        }
    }
    .container-fluid h1 span{
        font-size: 1em;
    }
    .pre-header-advertisement{
        padding: 0.1em;
        .pre-nav{
            margin: 0;
        }
        p {
            font-size: 0.4em;
            margin: 0;
        }
        .float-right{
            float: none;
            margin-top: 0;
        }
        .icon{
            padding: 0.5%;
            width: 50px;
        }
    }

    .logo {
        max-width: 80px;
    }
    .container-large {
    }
    nav{
        li {
            a {
                font-size: 0.5em;
                padding:0.2;
            }
        }
    }
    .container-fluid {
        p{
            margin-top: 0;
            a{
                padding: 0;
            }
        }
    }
    img{
        max-width: 100%;
    }

    header {
        padding: 0;
    }

/*==============Presentation==============*/

        .presentation {
            .container{
                p{
                    font-size: 1em;
                    max-width: 90%;
                }
                ul.flex{
                    display: block;
                    li{
                        width: 100%;
                        .card-title{
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
/*=================PricinAndOfferCards=======================*/
    .offer-and-pricing{
        .left-box{
            float: none;
            width: 100%;
            p{
                line-height: 1;
                max-width: 90%;
            }
        }
        .right-box{
            .flex{
                display: block;
                li{
                    width:100%;
                }
            }
        }
    }
/*======================theGirl=======================*/
    .thegirl{
        .cards{
            li{
                float: none;
                width: 100%;
            }
            p{
                margin-left: 0;
                line-height: 1;
                font-size: 1em;
            }
        }
    }
/*================Brands===================================*/

    .brand{
        .brands{
            font-weight: 400;
            font-size: 1em;
            padding: 0.5em;
        }
    }
    .wrapper-black{
        .flex{
            flex-wrap: wrap;
        }
    }

/*==============================================================*/
    .workers{
        p{
            font-size: 1em;
            width: 100%;
        }
    }
/*==============blog-offer-and-pricing==================*/
    .offer-and-pricing{
        .flex{
            display: block;
            li{
                width: 100%;
                p{
                    font-size: 1em;
                }
            }
        }
    }
/*=====================================================*/
    .pricing{
        table{
            border-spacing: 1em;
            td{
                padding: 10px;
                font-size: 1em;
            }
        }
        img{
            float: none;
        }
    }
/*==================what they say========================*/
    .whatTheySay{
        blockquote{
            font-size: 1em;
            width: 100%;
        }
    }
/*====================footer=================================*/
    .footer{
        .grid-layout{
            display: block;
        }
        .two{
            p{
                line-height: 1;
                font-size: 100%;
            }
        }
    }
}
@media only screen
and (min-device-width : 500px)
and (max-device-width : 768px) {
    body{
        nav{
            li {
                a {
                    font-size: 1em;
                }
            }
        }
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1100px) {
    .pricing{
        img{
            max-width: 80%;
        }
        table{
            border-spacing: 3em;
            td {
                font-size: 1em;
                padding: 0;
            }
        }
    }
}

@media only screen
and (min-device-width : 1100px)
and (max-device-width : 1260px){
    .pricing{
        table{
            border-spacing: 3em;
            td {
                font-size: 1.5em;
                padding: 0;
            }
        }
    }
}

@media only screen
and (min-device-width : 1260px)
and (max-device-width : 1760px) {
    .pricing{
        table{
            border-spacing: 5em;
            td {
                font-size: 2em;
                padding: 0;
            }
        }
    }
}