// imported mediaqueries at the end of this file
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import 'reset';
@import 'variables';
@import 'form_style';
/*===========General================*/

body {
    font-family: $raleway;
    font-size: 1em;
    color: $black;
    background-color: $sectionBGColor;
}

.is-active{
    color: green;
}
.is-danger{
    color: $brand-danger;
}

img {
    max-width: 100%;
}

p{
    line-height: 1.5em;
}

*{
    transition: 0.2s;
}

h1, h2{
    font-family: $dancing;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

span{
    display: block;
}

.wrapper {
    background-image: url('/img/header2.jpg');
    height: 100vh;
    background-color: $darkgrey; //Maybe...
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-black {
    background-color: $black;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section{
    text-align: center;
    h1{
        padding: 1em;
        color: $realpink;
        span{
            margin: auto;
            padding-bottom: 3%;
            filter: drop-shadow(1px 1px 15px $pink);
            color: $pink;
        }
    }
}

/*=======================================================*/

.container-fluid {
    max-width: 1920px;
    h1{
        padding: 1em;
        color: $realpink;
        filter: drop-shadow(1px 1px 10px rgba(255, 255, 255, 1));
        font-size: 3em;
        span{
            font-size: 2em;
        }
    }
    p{
        margin-top: 0.5em;
        font-size: 2.5em;
        text-transform: uppercase;
        a{
            padding: 1em;
            background-color: rgba(255,255,255,0.8);
            text-decoration: none;
            color: $darkgrey;
        }
        a:hover{
            color: $white;
            background-color: $black;
        }
    }
}

.container {
    max-width: 1600px;
    margin: auto;
}

/*=====PRE-HEADER===&&==Header================*/
.pre-header-advertisement{
    padding:1em;
    background-color: $black;
    .float-right{
        float: right;
        margin-right: 3%;
        margin-top: 0.3%;
    }
    p{
        display: inline;
        font-size: 1.2em;
        font-weight: 800;
        color: $darkgrey;
    }
    .pre-nav {
            margin-left: 3%;
        a{
            color: $darkgrey;
            text-decoration: none;
            margin-left: 1.2em;
        }
        .icon{
            padding: 0.5%;
            background-color: $darkgrey;
            display: inline-block;
            width: 50px;
        }
        i.mail-icon{
            mask: url('/icons/SVG/mail.svg') no-repeat 50%;
        }
        i.phone-icon {
            mask: url('/icons/SVG/phone.svg') no-repeat 50%;
        }
        i.facebook-icon {
            mask: url('/icons/SVG/facebook-logo.svg') no-repeat 50%;
        }
    }
}

header {
    padding: 2em 0 2em;
}

.logo {
    max-width: 150px;
    padding: 0.2em;
}

nav{
    padding: 0.5em;
    li {
        a {
            color: $pink;
            text-decoration: none;
            font-size: 2em;
            font-family: $dancing;
            padding:0.5em;
        }
        a:hover {
            color: $white;
            background-color: $black;
        }
        a.logo:hover{
            cursor: default;
            background-color: white;
        }
    }
}

/*=================Section presentation====================*/
.presentation{
        h1 {
        .title {
            border-bottom: solid 1px black;
        }
    }
    p{
        font-size: 1.5em;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 4%;
        max-width: 30%;
    }
    li{
        width: 33%;
        .card-title{
            filter: drop-shadow(1px 1px 10px rgba(255, 255, 203, 1));
            padding: 1em;
            font-size: 2em;
        }
        img{
            background: white;
            padding: 0.5em;
            width: 450px;
        }
        .card-footer{
            background-color: $white;
            width: 350px;
            max-width: 100%;
            margin: auto;
            position: relative;
            bottom: 100px;
            p{
                padding: 1em;
                font-family: $dancing;
                color: $pink;
                max-width: 100%;
            }
            span{

                font-family: $raleway;
            }
            a{
                text-decoration: none;
            }
            .call-to-action{
                display: block;
                font-size: 1.5em;
                text-decoration: none;
                color: $white;
                font-weight: 600;
                background-color: $realpink;
                font-family: $raleway;
                text-transform: uppercase;
            }
            .call-to-action:hover{
                background-color: $pink;
            }
        }
    }
}


/*============Offres et Tarifs==================*/

.offer-and-pricing{
    padding-bottom: 5%;
    .container-large{
        max-width: 1920px;
    }
    h1{
        padding: 1em;
        color: $realpink;
        span{
            font-size: 1.5em;
            color: $glowingtext;
            display: block;
        }
    }

    .promo{
        font-size: 3em;
        span{
            font-family: $dancing;
            display: block;
        }
    }
    background: url('/img/hair.jpg')0 / cover fixed;
    p{
        font-size: 1.5em;
        font-weight: 600;
        color: $white;
        margin-bottom: 10%;
    }
    .left-box{
        float: left;
        margin-left: 2%;
        width: 23%;
    }

    .right-box{
        padding-top: 3% ;
        img{
            width: 450px;
            max-width: 100%;
            margin-bottom: 10%;
        }
        h2{
            padding: 2em;
        }
    }
    li{
        width: 30%;
    }
    .card-footer{
        background-color: $white;
        margin: auto;
        position: relative;
        bottom: 100px;
        p{
            padding: 1em;
            font-family: $dancing;
            color: $pink;
            max-width: 100%;
        }
        span{
            display: block;
            font-family: $raleway;
        }
        a{
            text-decoration: none;
        }
        .call-to-action{
            display: block;
            font-size: 1.5em;
            text-decoration: none;
            color: $white;
            font-weight: 600;
            background-color: $realpink;
            font-family: $raleway;
            text-transform: uppercase;
        }
        .call-to-action:hover{
            background-color: $pink;
        }
    }
}
/*=============THE GIRL========================*/

.thegirl{
    ul{
        .big-horizontal-card{
            width: 90%;
            display: inline;
        }
        li{
            float: left;
            width: 30%;
            p{
                font-size: 1.5em;
                color: $darkgrey;
                margin-left: 30%;
                padding: 0.5em;
            }
        }
        .left{
            float: left;
            width: 800px;
            position: relative;
            z-index: 1;
        }
        img{
            width: 600px;
        }
    }
}

/*=======================SECTION BRANDS==========================*/
.brand{
    .brands{
        color: $white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2em;
        padding: 2em;
    }
}

/*==================SECTION WORKERS================================*/

.workers{
    p {
        font-size: 1.5em;
        margin: auto;
        margin-bottom: 4%;
        width: 30%;
    }
    .portrait {
        img{
            border-radius: 50%;
        }
    }
}

/*================BLOG CARDS============================*/
.blog{
    h1{
        span{
            margin: auto;
            color: $pink;
        }
    }
    img{
        width: 569px;
    }
    .card-footer{
        h2{
            color: $pink;
            padding: 1em;
        }
        p{
            color: $realpink;
        }
    }
}

/*===========Pricing===========================*/
.pricing{
    img{
        float: right;
    }
    table {
        border-collapse: separate;
        float: left;
        display: inline-block;
        margin-left: 2em;
        border-spacing: 10em;
    }
    td {
        text-align: left;
        padding: 0.5em;
        font-size: 2em;
        padding: 1em;
    }
    td:first-of-type {
        color: $realpink;
        font-family: $dancing;
    }
}

/*===========What they say....======================*/
.whatTheySay{
    img{
        border-radius: 50%;
    }
    background: url('/img/hair.jpg')0 / cover fixed;
    blockquote {
        width: 50%;
        border-left: 10px solid #ccc;
        margin: auto;
        padding: 1em;
        quotes: "\201C""\201D""\2018""\2019";
        color: $white;
        font-size: 2em;
    }
    blockquote:before {
        font-size: 2em;
        color: #ccc;
        content: open-quote;
        line-height: 0.1em;
    }
    blockquote p {
        font-weight: 600;
        display: inline;
    }
}

/*================Footer==========================*/
.footer{
    overflow-x: hidden;
    background-color: $footerBGColor;
    color: $white;
    img{
        max-width: 100%;
    }
    .grid-layout {
        text-align: center;
        display: grid;
        grid-template-columns: 33% 33% 34%;
    }
    .box {
        background-color: $footerBGColor;
        color: #fff;
        padding: 20px;
        font-size: 150%;
    }
}

/* iPads (portrait and landscape) ----------- */
@import 'larger_screenMediaqueries';
@import 'tabletMediaqueries';
@import 'phoneMediaqueries';